@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Tektur:wght@500&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
   
    min-height:200vh;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.nav-bar {
    position:sticky;
    top:0;
    background-color: #22272d;
   flex-wrap: nowrap;
    display: flex;
    height: 80px;
    align-items:center;
    justify-content: space-between;
}


.nav-bar ul  {
    flex-wrap: nowrap;
    display: flex;
    text-decoration: none;
    list-style: none;
    gap:20px;
    padding:12px;
    float:right;
    margin-right:20px;
}
.nav-bar .logo{
    border:1px solid white;
    background-image: url('logo.jpg');
    background-size: cover;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 14px;
    margin: 20px;
}

.nav-bar .logo::after {
    position: relative;
    left: 80px;
    width: 250px;
    display:inline-block;
    content: 'JRU Electronics Engineering League';
    color: rgb(209, 199, 9);
    font-family: 'Handjet', cursive;
    font-family: 'Tektur', cursive;
}

a {
 
    text-decoration: none;
    color: white;
}

.nav-bar ul li a {
    color: rgb(209, 199, 9);
    font-family: 'Handjet', cursive;
    font-family: 'Tektur', cursive;
    
    
}


.nav-bar ul li a:hover {
    color: white;
   font-size: 120%;
}

.container {
    
    background-color: #1f2937;
    display:flex;
    height:400px;
    flex: 1 1 400px;
   
  
    width:100%;
    margin:0 auto;
    justify-content: center;
    align-items: flex-start;
    gap:25px;
}

.container .left {
    color:white;
   
    height:200px;

width: 450px;
}

.left p {
    margin-top: 20px;
    line-height: 150%;
}

.left {
    padding: 10px 5px;
}

.left button {
    width: 100px;
    margin-top: 5px;
    padding: 10px;
    background-color: rgb(54, 104, 241);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    box-shadow: none;
}

.container .right {
    margin-top: 20px;
    display:flex;
    background-image: url("cover.jpg");
    background-size:cover;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    height:200px;
    width: 450px;
}
.right p {
    color: white;
    align-self: center;
}

.testimony {
    flex:1;
   
}


.cards {
    background-color: rgb(229, 174, 46);
    display: flex;
    height:750px;
    flex-direction: column;
    flex:1 1 750px;
    
   align-items: center;
}

.cards h1 {
    margin:20px;
    flex:0;
    
}

.card-list {
    box-sizing: border-box;
    flex:1;
    display: flex;
    flex-wrap: wrap;
    
   gap:35px;
   
    justify-content: center;
}
.card-list-2 {
    margin-top: 20px;
    flex-direction: row;
    box-sizing: border-box;
    flex:1;
    display: flex;
    flex-wrap: wrap;
    
   gap:35px;
   
    justify-content: center;
}

.card-container-1 {
    display: flex;
    
   
    width:150px;
    height: 200px;
    flex-direction: column;
    gap:3px;

    



}

.card-holder-1 {
   
    flex:0 0 150px;
    height:150px;
    width:auto;
    
    border-radius: 6px;
    background-image: url("https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.15752-9/355812752_290460536726403_5330661916578002977_n.jpg?_nc_cat=108&cb=99be929b-3346023f&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeF-Ns1FuRE6Ho0rlkGruRXSZLsBf7myj3BkuwF_ubKPcCacHxwbMMx05VP9RVbHzkoi9DrnIQsBVbZAHI6Zz3sh&_nc_ohc=NRZ59GaiifMAX-KtMsT&_nc_ht=scontent.fmnl4-6.fna&oh=03_AdQeJ2G7NG3kXCqErAMGOlwE-0-QZPdoBm5YzE8LbhAq2Q&oe=64D1F3E5");
    background-size: cover;
}

.subtext {
    flex:1;
    display: flex;
    
    justify-content: center;
    padding:5px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: bolder;
    
}

.position {
    flex:1;
    display: flex;
    
    justify-content: center;
    padding:5px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    
    
}





.card-container-2 {
    display: flex;
   
    width:150px;
    height: 200px;
    flex-direction: column;
    gap:3px;
    

    



}

.card-holder-2 {
    flex:0 0 150px;
    height:150px;
    width:auto;
    background-image: url('https://scontent.fmnl4-4.fna.fbcdn.net/v/t1.15752-9/355817062_605749081626536_4804317892322371806_n.jpg?_nc_cat=109&cb=99be929b-3346023f&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeG0j8Jh_z27CY2m2xQ2LZOKnBJ4qzLe1QCcEnirMt7VAFAjqmDkW__R5nJz3RqJoqKTCMniqCdjQhAK0TgR6Iol&_nc_ohc=B2VE6GxFRwsAX9KYNJL&_nc_ht=scontent.fmnl4-4.fna&oh=03_AdRb788JEgIABH-UTb3he8D99yGSfDj6lPoSDWdy7ojbow&oe=64D1DD02');
    background-size: cover;

    border-radius: 6px;
}

.subtext-2 {
    flex:1;
    display: flex;
    
    justify-content: center;
    padding:5px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    
}

.card-container-3 {
    display: flex;
   
    width:150px;
    height: 200px;
    flex-direction: column;
    gap:3px;

    



}

.card-holder-3 {
    flex:0 0 150px;
    height:150px;
    width:auto;
    background-image: url('https://scontent.fmnl4-2.fna.fbcdn.net/v/t1.15752-9/355824081_1314402732785772_4520706648120610417_n.jpg?_nc_cat=105&cb=99be929b-3346023f&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHriyGoSmHEptkyT0YAvMgmSAeR0ac-kRRIB5HRpz6RFIUQ6mHYQBLYt-A_Oalr1VdULoygKmXUTArSAvlWO7CD&_nc_ohc=iLwiJl9keXgAX8sAbPN&_nc_ht=scontent.fmnl4-2.fna&oh=03_AdQdLvtr3JwXjDovErXEuWhNJ4JkBdqEcAL-G2rwv5HC2g&oe=64D1F4D5');
    background-size: cover;
    border-radius: 6px;
}

.subtext-3 {
    flex:1;
    display: flex;
    
    justify-content: center;
    padding:5px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    
}

.card-container-4 {
    display: flex;
   
    width:150px;
    height: 200px;
    flex-direction: column;
    gap:3px;

    



}

.card-holder-4 {
    flex:0 0 150px;
    height:150px;
    width:auto;
    background-image: url('https://scontent.fmnl4-1.fna.fbcdn.net/v/t1.15752-9/355818652_669169701213825_6626711198123500106_n.jpg?_nc_cat=104&cb=99be929b-3346023f&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHWKqPGlNC0vALJJ9LZriM8JRUpxgzrx_YlFSnGDOvH9nsmziNh_KN7xUE368Y6lqSo4KKv-9zqKABp7NPOopeP&_nc_ohc=8w425iJVZKMAX-2pm0i&_nc_ht=scontent.fmnl4-1.fna&oh=03_AdQSE-OF1oYj8w0JLBzZjeZ-P8Xfg5pDWTkWcFiJEQdNaQ&oe=64D1C734');
    background-size: cover;
    border-radius: 6px;
}

.subtext-4 {
    flex:1;
    display: flex;
    
    justify-content: center;
    padding:5px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    
}

.testimony {
    display:flex;
    flex:1 1 500px;
    height:500px;
    background-color: rgb(223, 217, 217);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.testimony .paragraph {
    display:flex;
    width:80%;
    flex-wrap: wrap;
    
    font-size: 35px;
    font-style: italic;
    font-weight: lighter;
    line-height: 150%;
    
    
}

.testimony .author {
    display: flex;
    width: 80%;
    
    justify-content: flex-end;
    font-weight: bolder;
   

}

.ads {
    display: flex;
    height: 250px;
    flex: 1 0 250px;
   
    justify-content: center;
    align-items: center;
    
}

.ad-card {
    justify-content: space-around;
    align-items: center;
    display:flex;
    height: 80px;
    width:800px;
    flex: 0 0 auto;
    background-color: rgb(0, 115, 255);
    border-radius: 1.5em;
    color: white;
}

.ad-card div {
    padding: 10px 20px;
}

.ad-card button {
    color:white;
    display:flex;
    padding: 10px 20px;
    height:35px;
    width: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: 2px solid white;
    font-weight: bold;
}

.ad-card button:hover {
    background-color: white;;
    color:black;
}

footer {
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: whitesmoke;
}

.container .left h1 {
    color:  rgb(229, 174, 46);
}

/* ADDITIONAL CARDS */

.card-container-5 {
    display: flex;
   
    width:150px;
    height: 200px;
    flex-direction: column;
    gap:3px;

    



}

.card-holder-5 {
   
    flex:0 0 150px;
    height:150px;
    width:auto;
    
    border-radius: 6px;
    background-image: url("https://scontent.fmnl4-4.fna.fbcdn.net/v/t1.15752-9/358682343_635645545172199_4988543219067121360_n.jpg?_nc_cat=102&cb=99be929b-3346023f&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFPe67ED_71MmAEPMikL09761fW5__Byn7rV9bn_8HKfgEgDO40jAFyQtDXFDBGhWX-1heq3JuMhrQgkvbPaqUh&_nc_ohc=Bd2jotjXyhYAX-mPguU&_nc_ht=scontent.fmnl4-4.fna&oh=03_AdRkzXW3t9Y52p5RUNVTvv9f42i_DxKQXAhPX36ThF-hig&oe=64D1F439");
    background-size: cover;
}

.subtext-5 {
    flex:1;
    display: flex;
    
    justify-content: center;
    padding:5px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: bolder;
    
}

.card-container-6 {
    display: flex;
   
    width:150px;
    height: 200px;
    flex-direction: column;
    gap:3px;

    



}

.card-holder-6 {
   
    flex:0 0 150px;
    height:150px;
    width:auto;
    
    border-radius: 6px;
    background-image: url("https://scontent.fmnl4-1.fna.fbcdn.net/v/t1.15752-9/355828929_723956749490132_7961802999985311324_n.jpg?_nc_cat=103&cb=99be929b-3346023f&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHXmMnrjAf5tJJ-yld6_vUaAif3MnyW3AYCJ_cyfJbcBlI255h--JK7eTw0DjoFGPPPUcQ4F7R7qgZcB1BdMeTO&_nc_ohc=YrkcvTpsbEoAX8GBU-i&_nc_ht=scontent.fmnl4-1.fna&oh=03_AdTruDNy_WToTiaCw0XOfMo0bvIUHg0ZZNk-tLAqZHmV5g&oe=64D1E4C6");
    background-size: cover;
}

.subtext-6 {
    flex:1;
    display: flex;
    
    justify-content: center;
    padding:5px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: bolder;
    
}

.card-container-7 {
    display: flex;
   
    width:150px;
    height: 200px;
    flex-direction: column;
    gap:3px;

    



}

.card-holder-7 {
   
    flex:0 0 150px;
    height:150px;
    width:auto;
    
    border-radius: 6px;
    background-image: url("https://scontent.fmnl4-5.fna.fbcdn.net/v/t1.15752-9/359680854_815659126626057_6827852972133270258_n.jpg?_nc_cat=111&cb=99be929b-3346023f&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGDTY-bQmCvtGW5pey6NcoRjLM3_gWHDp2Mszf-BYcOnYoqoqhlfLYx-pxoss3ZoxIQqUIYN0rdMJe_h6LB6Qat&_nc_ohc=mZvPyPF7KykAX-pB3MD&_nc_ht=scontent.fmnl4-5.fna&oh=03_AdTQyyLW-IJshweq17T7P6FQNW4yUtQtwxp_Fxky_PmEyw&oe=64D1D2B1");
    background-size: cover;
}

.subtext-7 {
    flex:1;
    display: flex;
    
    justify-content: center;
    padding:5px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: bolder;
    
}

.card-container-8 {
    display: flex;
   
    width:150px;
    height: 200px;
    flex-direction: column;
    gap:3px;

    



}

.card-holder-8 {
   
    flex:0 0 150px;
    height:150px;
    width:auto;
    
    border-radius: 6px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDMBGuTMOhxwMQ-vekHHzq3UI0qb7z3Ciu1A&usqp=CAU");
    background-size: cover;
}

.subtext-8 {
    flex:1;
    display: flex;
    
    justify-content: center;
    padding:5px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: bolder;
    
}